<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-button (click)="goToBack()" fill="clear" slot="start">
        <ion-icon name="arrow-back" style="font-size: 26px;"></ion-icon>
    </ion-button>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="main_content_div">

        <ion-label class="title_lbl">New Notification</ion-label>
        <div class="notification_div" *ngFor="let item of list">
            <div class="round_div">
                <ion-icon name="{{item.icn}}"></ion-icon>        
            </div>
            <div class="content_div">
                <ion-label>{{item.text}}</ion-label>
            </div>
        </div>

        <ion-label class="title_lbl">Old Notification</ion-label>
        <div class="notification_div" *ngFor="let item of list">
            <div class="round_div">
                <ion-icon name="{{item.icn}}"></ion-icon>        
            </div>
            <div class="content_div">
                <ion-label>{{item.text}}</ion-label>
            </div>
        </div>
        
    </div>
</ion-content>
