// ion-toolbar {
//     --background: #2d2d39;
// }

ion-content {
    --background: #2d2d39;
}

.main_content_div {
    background: #1c1e2a;
    width: 100%;
    min-height: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 16px;

    ion-label {
        display: block;
    }

    .header_flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // margin-top: 16px;
        .title_lbl {
            font-family: 'medium';
            font-size: 15px;
            letter-spacing: 1px;
            // margin-bottom: 16px;
            // margin-top: 20px;
            // text-align: left;
        }

        .more_lbl {
            font-size: 14px;
            color: var(--ion-color-primary);
        }
    }

    

    .slide_back {
        width: 100%;
        height: 170px;
        border-radius: 10px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 10px;
        position: relative;

        ion-label {
            color: white;
            font-size: 14px;
            text-align: left;
            position: absolute;
            bottom: 10px;
        }
    }

    .artical_div {
        // padding: 16px;

        .artical_box {
            border-bottom: 1px solid #2d2d39;
            display: flex;
            padding-top: 16px;
            padding-bottom: 16px;

            .back_img {
                height: 90px;
                width: 90px;
                min-width: 90px;
                border-radius: 5px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .detail_div {
                padding-left: 16px;
                width: 100%;

                .bold_lbl {
                    font-family: 'medium';
                    font-size: 14px;
                    letter-spacing: 1px;
                    text-align: left;
                    margin-bottom: 5px;
                }

                .simp_lbl {
                    font-size: 13px;
                    text-align: left;
                    margin-bottom: 5px;
                }
    
                .flex_div {
                    display: flex;
                    align-items: center;
                    margin-bottom: 5px;
                    // margin-top: 10px;

                    ion-icon {
                        color: orange;
                        margin-right: 3px;
                        font-size: 13px;
                    }
    
                    ion-label {
                        font-size: 13px;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}