<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
      <ion-button (click)="goToBack()" fill="clear" slot="start">
          <ion-icon name="arrow-back" style="font-size: 26px;"></ion-icon>
      </ion-button>
      <ion-title>Terms &Conditions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">

    <ion-label class="header_lbl">Last Update : 27/09/2020</ion-label>

    <ion-label>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus vitae exercitationem quam 
      totam sint labore maiores nam laborum?
    </ion-label>

    <ul>
        <li>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, quis labore?
        </li>

        <li>
            Debitis in cum rem fugit possimus, assumenda molestias totam ipsam.
        </li>

        <li>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis soluta suscipit.
        </li>
    </ul>

    <ion-label>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, quis labore? Debitis in cum rem 
      fugit possimus, assumenda molestias totam ipsam repellat?
    </ion-label>

    <ion-label>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis soluta suscipit nisi fugit nihil,
       fuga, sit alias.
    </ion-label>

    <ion-label>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam sunt dolorum, aut iusto vitae omnis suscipit
      molestiae est.
    </ion-label>

    <ion-label>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur obcaecati assumenda quod 
      officia nesciunt excepturi nihil.
    </ion-label>

    <ion-label>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero aspernatur enim aliquid.
    </ion-label>

  </div>
</ion-content>